<!DOCTYPE html>
<html>
<head>
  <title>Schneiderlein</title>
  <%= stylesheet_link_tag    "schneiderlein/application", media: "all" %>
  <%= javascript_include_tag "schneiderlein/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
